@import "normalize.css";
@import "variables.css";
@import "basic.css";
@import "header.css";
@import "film-week.css";


    

h1 {
    color: blue;
    background-color: yellow;
    
}

h2 {
    font-family: 'Raleway', sans-serif;
}